@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Lora:ital,wght@1,500&family=Ms+Madi&display=swap');

html {
  background-color: black;
  /* Safari, Chrome and Opera > 12.1 */
  -webkit-animation: fadein 5s;
  /* Firefox < 16 */
  -moz-animation: fadein 5s;
  /* Internet Explorer */
  -ms-animation: fadein 5s;
  /* Opera < 12.1 */
  -o-animation: fadein 5s;
  /* Everything else */
  animation: fadein 5s;

  overflow-x: hidden;
}




.banner {
  background: white;
  color: black;
  padding: 1vh;
  font-family: 'Beau Rivage';
  font-size: 3em;
}

.header {
  position: sticky;
  top: 0em;
  background-color: black;
  padding: 0.2em;
  z-index: 100000;
  width: 97vw;
}
.sep {
  color: white;
  border-color: white;
  font-weight: bold;
}

.header-tag {
  display: inline;
  font-size: 2em;
  position: absolute;
  margin: 0.4em 0em 0em 1em;

  font-family: 'Beau Rivage';
}

h1, h2, h3, h4, p, pre {
  color:white;
  text-align: center;
  margin: 0 auto;
}

p {
  width: 70vw;
  max-width: 70vw;
}

.menu-header {
  margin: 0;
  font-family: sans-serif;
  width: 100%;
  height: 5em;
  box-sizing: border-box;
}
.logo {
  float: left;
  padding: 0.5em 0em 0em 0em;
  margin-left: 2em;
  height: 2em;

}
.logo > img {
  height: 4em;

  border-radius: 50%;
}


.menu-nav {
  height: 5em;
}
.menu-nav > ul {
  margin: 0;
  padding: 0;
  display: flex;
  float: right;
  overflow-x: hidden;
}

.menu-list {
  list-style-type: none;
}
.menu-list > a {
  line-height: 3em;
  padding: 0 20px;
  color: #fff;
  padding: 1em;
  color: white;
  float: right;
}

.menu-toggle {
  float: right;
  margin: 0em;
  color: #fff;
  float: right;
  font-size: 1.7em;
  line-height: 50px;
  display: none;
}


.liberty336-ascii {
  display: block;
  margin: 0 auto;
  width: 50vw;
}


.home-intro {
  width: 94vw;
  font-size: 1.5em;
}




/* Begin index section */



*, *:before, *:after {
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}


body {
 overflow: hidden;
 font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

#calendar {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 420px;
  margin: 0 auto;
  height: 570px;
  overflow: hidden;
}

.header {
  height: 50px;
  width: 420px;
  background: rgba(66, 66, 66, 1);
  text-align: center;
  position:relative;
  z-index: 100;
}

.header h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 50px;
  font-weight: 100;
  letter-spacing: 1px;
}

.left, .right {
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  top: 50%;
  margin-top: -7.5px;
  cursor: pointer;
}

.left {
  border-width: 7.5px 10px 7.5px 0;
  border-color: transparent rgba(160, 159, 160, 1) transparent transparent;
  left: 20px;
}

.right {
  border-width: 7.5px 0 7.5px 10px;
  border-color: transparent transparent transparent rgba(160, 159, 160, 1);
  right: 20px;
}

.month {
  /*overflow: hidden;*/
  opacity: 0;
}

.month.new {
  -webkit-animation: fadeIn 1s ease-out;
  opacity: 1;
}

.month.in.next {
  -webkit-animation: moveFromTopFadeMonth .4s ease-out;
  -moz-animation: moveFromTopFadeMonth .4s ease-out;
  animation: moveFromTopFadeMonth .4s ease-out;
  opacity: 1;
}

.month.out.next {
  -webkit-animation: moveToTopFadeMonth .4s ease-in;
  -moz-animation: moveToTopFadeMonth .4s ease-in;
  animation: moveToTopFadeMonth .4s ease-in;
  opacity: 1;
}

.month.in.prev {
  -webkit-animation: moveFromBottomFadeMonth .4s ease-out;
  -moz-animation: moveFromBottomFadeMonth .4s ease-out;
  animation: moveFromBottomFadeMonth .4s ease-out;
  opacity: 1;
}

.month.out.prev {
  -webkit-animation: moveToBottomFadeMonth .4s ease-in;
  -moz-animation: moveToBottomFadeMonth .4s ease-in;
  animation: moveToBottomFadeMonth .4s ease-in;
  opacity: 1;
}

.week {
 background: #4A4A4A;
}

.day {
  display: inline-block;
  width: 60px;
  padding: 10px;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  background: #4A4A4A;
  position: relative;
  z-index: 100;
}

.day.other {
 color: rgba(255, 255, 255, .3);
}

.day.today {
  color: rgba(156, 202, 235, 1);
}

.day-name {
  font-size: 9px;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: rgba(255, 255, 255, .5);
  letter-spacing: .7px;
}

.day-number {
  font-size: 24px;
  letter-spacing: 1.5px;
}


.day .day-events {
  list-style: none;
  margin-top: 3px;
  text-align: center;
  height: 12px;
  line-height: 6px;
  overflow: hidden;
}

.day .day-events span {
  vertical-align: top;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 5px;
  height: 5px;
  line-height: 5px;
  margin: 0 1px;
}

.blue { background: rgba(156, 202, 235, 1); }
.orange { background: rgba(247, 167, 0, 1); }
.green { background: rgba(153, 198, 109, 1); }
.yellow { background: rgba(249, 233, 0, 1); }

.details {
  position: relative;
  width: 420px;
  height: 75px;
  background: rgba(164, 164, 164, 1);
  margin-top: 5px;
  border-radius: 4px;
}

.details.in {
  -webkit-animation: moveFromTopFade .5s ease both;
  -moz-animation: moveFromTopFade .5s ease both;
  animation: moveFromTopFade .5s ease both;
}

.details.out {
  -webkit-animation: moveToTopFade .5s ease both;
  -moz-animation: moveToTopFade .5s ease both;
  animation: moveToTopFade .5s ease both;
}

.arrow {
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -2px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent rgba(164, 164, 164, 1) transparent;
  transition: all 0.7s ease;
}

.events {
  height: 75px;
  padding: 7px 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.events.in {
  -webkit-animation: fadeIn .3s ease both;
  -moz-animation: fadeIn .3s ease both;
  animation: fadeIn .3s ease both;
}

.events.in {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  animation-delay: .3s;
}

.details.out .events {
  -webkit-animation: fadeOutShrink .4s ease both;
  -moz-animation: fadeOutShink .4s ease both;
  animation: fadeOutShink .4s ease both;
}

.events.out {
  -webkit-animation: fadeOut .3s ease both;
  -moz-animation: fadeOut .3s ease both;
  animation: fadeOut .3s ease both;
}

.event {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: .5px;
  padding: 2px 16px;
  vertical-align: top;
}

.event.empty {
  color: #eee;
}

.event-category {
  height: 10px;
  width: 10px;
  display: inline-block;
  margin: 6px 0 0;
  vertical-align: top;
}

.event span {
  display: inline-block;
  padding: 0 0 0 7px;
}

.legend {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: rgba(60, 60, 60, 1);
  line-height: 30px;

}

.entry {
  position: relative;
  padding: 0 0 0 25px;
  font-size: 13px;
  display: inline-block;
  line-height: 30px;
  background: transparent;
}

.entry:after {
  position: absolute;
  content: '';
  height: 5px;
  width: 5px;
  top: 12px;
  left: 14px;
}

.entry.blue:after { background: rgba(156, 202, 235, 1); }
.entry.orange:after { background: rgba(247, 167, 0, 1); }
.entry.green:after { background: rgba(153, 198, 109, 1); }
.entry.yellow:after { background: rgba(249, 233, 0, 1); }

/* Animations are cool!  */
@-webkit-keyframes moveFromTopFade {
  from { opacity: .3; height:0px; margin-top:0px; -webkit-transform: translateY(-100%); }
}
@-moz-keyframes moveFromTopFade {
  from { height:0px; margin-top:0px; -moz-transform: translateY(-100%); }
}
@keyframes moveFromTopFade {
  from { height:0px; margin-top:0px; transform: translateY(-100%); }
}

@-webkit-keyframes moveToTopFade {
  to { opacity: .3; height:0px; margin-top:0px; opacity: 0.3; -webkit-transform: translateY(-100%); }
}
@-moz-keyframes moveToTopFade {
  to { height:0px; -moz-transform: translateY(-100%); }
}
@keyframes moveToTopFade {
  to { height:0px; transform: translateY(-100%); }
}

@-webkit-keyframes moveToTopFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
}
@-moz-keyframes moveToTopFadeMonth {
  to { opacity: 0; -moz-transform: translateY(-30%); }
}
@keyframes moveToTopFadeMonth {
  to { opacity: 0; -moz-transform: translateY(-30%); }
}

@-webkit-keyframes moveFromTopFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
}
@-moz-keyframes moveFromTopFadeMonth {
  from { opacity: 0; -moz-transform: translateY(30%); }
}
@keyframes moveFromTopFadeMonth {
  from { opacity: 0; -moz-transform: translateY(30%); }
}

@-webkit-keyframes moveToBottomFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
}
@-moz-keyframes moveToBottomFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(30%); }
}
@keyframes moveToBottomFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(30%); }
}

@-webkit-keyframes moveFromBottomFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
}
@-moz-keyframes moveFromBottomFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(-30%); }
}
@keyframes moveFromBottomFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(-30%); }
}

@-webkit-keyframes fadeIn  {
  from { opacity: 0; }
}
@-moz-keyframes fadeIn  {
  from { opacity: 0; }
}
@keyframes fadeIn  {
  from { opacity: 0; }
}

@-webkit-keyframes fadeOut  {
  to { opacity: 0; }
}
@-moz-keyframes fadeOut  {
  to { opacity: 0; }
}
@keyframes fadeOut  {
  to { opacity: 0; }
}

@-webkit-keyframes fadeOutShink  {
  to { opacity: 0; padding: 0px; height: 0px; }
}
@-moz-keyframes fadeOutShink  {
  to { opacity: 0; padding: 0px; height: 0px; }
}
@keyframes fadeOutShink  {
  to { opacity: 0; padding: 0px; height: 0px; }
}


/*** Begin Mobile ***/

@media (max-width: 1000px)
{

  html{

  }

  .header {
    width: 97vw;
  }
  .home-intro {
    width: 50vw;
    font-size: .9em;
  }
  .liberty336-ascii {
    display: block;
    margin: 0 auto;
    width: 90vw !important;
  }



  .menu-header {
    padding: 0 20px;
  }
  .logo {
    line-height: 3em;
    margin: 0em 0em 0em 2em !important;
  }
  .menu-nav {
    position: absolute;
    width: 100%;
    background: #333;
    top: 3em;
    left: -120%;
    transition: 0.5s;
    height: calc(100vh - 50px);
  }
  .menu-nav-active {
    position: absolute;
    width: 100%;
    background: #0a0808;
    top: 5em;
    left: 0%;
    transition: 0.5s;
    height: calc(100vh - 50px);
    color:white;
  }

  .menu-nav > ul {
    display: block;
    text-align: center;
  }
  .menu-list > a {
    border-bottom: 1px solid black;
  }
  .menu-list > a:hover {
    background-color: grey;
  }
  .menu-list > a {
    text-align: center;
    margin: 0 auto;
    width: 100vw;
  }

  .menu-toggle {
    display: block;
    line-height: 3em;
    z-index: 10;
  }

  img {
    margin-left: -5vw;
  }



  /* begin mobile index section */


  .index {

    width: 70vw;

  }

  .image-link {
    display: block;
    margin: 0 auto;
    text-align: center;
  }


  .quoting-images {
    display: block;
    margin: 0 auto;
    width: 90vw;
    height: auto;
  }
  /* end mobile index section */



  /* begin mobile faq section */
  .faq-trumpers{
    display: block;
    margin: 0 auto;
    width: 60vw;
  }
  /* end mobile faq section */

  /* begin mobile about section */

  .about-image {
    width: 60%;
  }

  /* end mobile about section */
}
/* End mobile toggle-menu */

@media (width: 1000px)
{
  html {
    width: 99vw;
    overflow-x: hidden;
  }
}
